{% extends "index.html" %}

{% block header %}
    <h1>{% block title %}Wyswietlanie danych{% endblock title %}</h1>
{% endblock header %}

{% block content %}
    <a href="{{ url_for('data', function='1') }}">Lista filmów</a><br><br>
    <a href="{{ url_for('data', function='2') }}">Lista typów biletów</a><br><br>
    <a href="{{ url_for('data', function='3') }}">Lista osób rezerwujących</a><br><br>
    <a href="{{ url_for('data', function='4') }}">Repertuar</a><br><br>
    <a href="{{ url_for('data', function='5') }}">Rezerwacje</a><br><br>
    <a href="{{ url_for('data', function='6') }}">Sprzedaże</a><br><br>
    {% if show %}
        <table>
            <tr>
                {% for name in names %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>

            {% for row in records %}
                <tr>
                    {% for element in row %}
                        <td>{{ element }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}