<!doctype html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Serwis komputerowy</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    {% endblock head %}
</head>
<body>
    <nav>
        <h1>Serwis komputerowy</h1>
        <ul>
            {% block links %}
            <li><a class='cont' href="{{ url_for('data') }}">Dane</a>
            <li><a class='cont' href="{{ url_for('add', form_name='none') }}">Dodaj do tabeli</a>
            <li><a class='cont' href="{{ url_for('select', form_name='none') }}">Wyswietl tabele</a>
            {% endblock links %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock header %}
        </header>
        {% if message %} <h2>{{message}}<h2> {% endif %}
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock content %}
    </section>
</body>