{% extends "index.html" %}

{% block header %}
  <h1>{% block title %}{{form.__class__.__name__}}{% endblock title %}</h1>
{% endblock header %}

{% block content %}

<table>
    <tr>
        <th>ID</th>
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' and field.name != 'submit' %}
                <th>{{ field.label() }}</th>
            {% endif %}
        {% endfor %}
        {% if form.__class__.__name__ == 'Zamowienie' %}
            <th>DataZamowienia</th>
        {% endif %}
    </tr>

    {% for row in records %}
        <tr>
            {% for element in row %}
                <td>{{ element }}</td>
            {% endfor %}
        </tr>
    {% endfor %}

    
</table>

{% endblock %}